* { font-family: sans-serif;}

#main {
    width:500px;
    padding: 10px;
}

.divider {
    border: 1px dashed green
}

.goodResults {
    color: green
}

.badResults {
    color:red
}

#input {
    margin: 10px; 
}

#data {
    border: 1px dashed gray;
    width: 350px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    position : relative;
    overflow-y : auto
}

#footer {
    font-size: 12px;
}